.App {

  /*text-align: center*/;
}

.start-button.purchase-button.link{
  text-decoration: none;
  color: black;
}


button {
  -webkit-text-fill-color: black;
  color: black;
}


.material-icons{
  color: black;
}

.user_coins{
  font-weight: bolder;
  font-size: 20px;
}

.pointing_hands{
  width: 60px;
}

.tutorial_keywords_container{
  display: flex;
  width: 100%;
  align-items: center;
}

.top_app_pointing.pointing_hands{
  display: flex;
}

.icon-buttons.top_app_bar:hover{
  cursor: pointer;
  background-color: whitesmoke;
  border-radius:4px;
  padding: 8px;

}

.pruchased_styling{
  font-size: 18px;
}

.downloaad_me_div{
  display: flex;
}



/*body
@media (orientation: portrait) {
  body {
    background-size: auto 100vh;
  }
}*/
.header_title{
  min-width: 50%;
}
.navCard.scoreCard{
  display: flex;
  align-items: center;
  width: 50%;
  margin: 2% auto;
}
.coins_app_bar{
  display: flex;
  align-items: center;
}

.parallel_text.header{
width: 100%;
  gap: 0;
}
.parallel_text{
  display: flex;
  gap: 20px;
}
.audio_active{
  background-color: #98ff98;
}

.app_bar_active{
  border-radius: 50%;
}

.active_icon{
  background-color: white!important;
  border-radius: 4px;
  padding: 8px;
}

.navCard.yellowCardOutline.help_page {
  height: 100%;
}


.card_audio_controls{
  background: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
}

.card_component_image{
  display: flex;
  justify-content: center;
  background: #f5f5dc;
}


.wrong_answer_subdiv{
  display: flex;
}

.lesson_titles{
  width: 100%;
  text-align: center;
}
.question_prompt_volume_icons{
  border:none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.correct_answer_subdiv {
  display: flex;
}


input[type=radio] {
  transform: scale(1.5);
}

.input_options{
  padding: 2%;
}


.mcqCard{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 16px;
  padding:16px
}

.mcq-container{
  margin: 1%;

}

.nav_link_routers{
  text-decoration: none;
}

.lesson_buttons.mcq_buttons.retake {
padding: 6px 16px;
}

.matching_left_column{
  display: flex;
  flex-direction: column;
}

.matching_right_column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.matching_options_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question_button_divs{
  background-color: white;
}
/*
html, body {
  background: url("./images/backgroundPic.svg") no-repeat center center fixed;
  background-size: cover;
  !*background-size: cover;*!

}
*/

.navCard.help_page{
  height: 100%;
}

.cardmedia{
  /*background-color: #ffe2b0;*/
}

html, body {
  /*background: linear-gradient(to bottom, #ffdedb, #ffefcc, #ccffd9);*/
  /*background: linear-gradient(to bottom, #ffdedb, #ffefcc, #ccffd9);*/

  /*background: linear-gradient(to bottom, #5c90c1, #b0d4e6);*/
  min-height: 100vh;

  background: linear-gradient(to bottom, #7ad4f1, #b6d2d2);




  /*background: linear-gradient(to bottom, #b2d8d8, #e6f1f1);*/








  /*background: linear-gradient(to bottom, #5f9ea0, #8fbfc1);*/

}


.download_button{
  display: flex;
  align-items: center;
}

.top_app_bar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app_bar_routes{
  text-decoration: none;
}


.question_prompt_button_divs{
  display: flex;
  padding: 2%;
  justify-content: space-evenly;
}
.keywords_div{
  display: flex;
  align-items: center;
  gap: 10px;
}
.keyword_button_div{
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
}
.keywords_icon{
  font-size: 25px;
}

.start-button.complete_button{
  padding: 6px 16px;
}

.start-button.complete_button:hover{
  cursor: pointer;
}


body{
 /*background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);*/
 /* background-color: #0093E9;


  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);*/
/*
background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
*/
  /*
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  */

}

label {
  display: flex;
  align-items: center;
  font-size: 1.2rem; /* increase font size to make label larger */
}

input[type="radio"] {
  margin-right: 0.5rem; /* add some spacing between radio button and label */
  /* do not set width or height to maintain default size */
  display: flex;
  justify-content: center;
}

input[type="radio"]:focus + .radio-label {
  /* add focus styles to the label element */
  outline: 2px solid blue;
}




.mcq_main_container>.action_buttons{
  display: flex;
  justify-content: space-evenly;
  margin: 2% auto;
}

.mcq_buttons{
  border:none;
  padding:2%
}

/*body > #root > div {
background: url("./images/backgroundPic.svg") no-repeat;
height: 100vh;
}*/

#app-bar-title{
  font-family: "BRONSON";
}

.nav-title{
  font-family: 'Arial';
  font-style: normal;

}

.orangeCard2{
  background: #FFFFFF;
  box-shadow: -2px 14px 6px rgb(216, 155, 28) !important;
  border-radius: 20px;

}


.flex{
  display: flex;
  align-items: center;
}

.orangeCardOutline{
  background: #FFFFFF;
  box-shadow: 11px 11px 4px rgb(216, 155, 28) !important;
}

.lightOrangeCardOutline{
  background: #FFFFFF;
  box-shadow: 11px 11px 4px rgb(245, 159, 98) !important;
}

.help_collapse_icon{
  display: flex;
  justify-content: flex-end;
}

.help_icons_container{
  padding: 16px;
}



.yellowCardOutline{
  background: #FFFFFF;
  box-shadow: 11px 11px 4px rgb(221, 175, 39) !important;
}

.yellowCard2{
  background: #FFFFFF !important;
  box-shadow: -2px 14px 6px rgba(221, 175, 39) !important;
  border-radius: 20px;
}

.padding{
  padding: 16px;
}


.blueCardOutline{
  background: #FFFFFF !important;
  /*box-shadow: 16px 9px 4px rgba(76, 212, 255, 0.82)!important;*/
  box-shadow: 11px 11px 4px rgba(76, 212, 255, 0.82)!important;
}

.lessonBlueOutline{
  background: #FFFFFF !important;
  /*box-shadow: 16px 9px 4px rgba(76, 212, 255, 0.82)!important;*/
  box-shadow: 8px 8px 4px rgba(76, 212, 255, 0.82)!important;
}

.blueCard2{
  background: #FFFFFF !important;
  box-shadow: -2px 14px 6px rgba(76, 212, 255, 0.82) !important;
  border-radius: 20px;
}

.purpleCardOutline{
  /*filter: drop-shadow(11px 11px 4px #6C0BB1);*/
  background: #FFFFFF;
 box-shadow: 11px 11px 4px rgb(180, 91, 236) !important;


}


.purpleCard2{
  background: #FFFFFF !important;
  box-shadow: -2px 14px 6px rgba(180, 91, 236) !important;
  border-radius: 20px;
}

@font-face {
  font-family: "BRONSON";
  src: url('BRONSON-Black.ttf');
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.lesson_buttons:active, .start-button:active {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  transform: translateY(4px);
}

.volume_icon:active{

}

button.selected{
  background-color: #e6ccb3; /* darker shade of beige */

}

.volume_icon .lesson_volume_icon{
  color: #2365ae
}



.audio_container{
  display: flex;
  align-items: center;
}

.keyword_volume_icon{
  margin-top: 3%;
  /*padding:50%!important;*/
}


.keyword_volume_icon.volume_icon{
  padding: 16px;
}

.volume_button_divs{
  display: flex;
  flex-direction: column;
  align-items: center;
}




.volume_div{
  display: flex;
}
/*Nav Bar Elements style*/
.nav-title{
  color:black;
  text-align: center;
}

.start-button{
  padding: 6px 16px;

  background-color: antiquewhite;
  border: solid 1px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bolder;
  border:none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);

}

.mcq_actions{
  display: flex;
}

.testingClass{
background-color: #e2e5df;
}

.audio_icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.question_title{
  text-align: center;
}

.question_audio_icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.correct_answer{
  display: flex;
}

.inline_elements{
  display: flex;
}

.incorrect_answer_icon{
  color:red;
  background: transparent;
  border: none;
}

.correct_answer_icon{
background: transparent;
  border: none;
  color: green;
}

.correct_answer_icons{
  font-size: 30px;
}
.audio_options{}


/*Top App Bar stylings*/
.topAppBar{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /*background-color: antiquewhite;*/
  /* Created with https://www.css-gradient.com */
  background: rgba(255, 255, 255, 0.84);
 /* background: #C4F9FC;
  background: -webkit-linear-gradient(top left, #C4F9FC, #BECDF7);
  background: -moz-linear-gradient(top left, #C4F9FC, #BECDF7);
  background: linear-gradient(to bottom right, #C4F9FC, #BECDF7);
*/
}



.appbar-icons{
  display: flex;
  align-items: center;
}




.icon-buttons{
  background: none;
  border: none;
  color: black;
}

#twiflag{
  background-image: url("images/ghana-icon.png");
}

#languageSelector{
  font-size: 20px;
}

/*Cardbox style and volume style*/
.card_box{
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin:5%;
  align-items: center;
}
.main_audio{
  /*color: #0c50b1*/
  color: #23C2B5
}

.volume_icon{
  /*border: solid 1px;*/
  border-radius: 4px;
  border:none;
  border-radius: 50%;
  /*padding: 7px;*/
 /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;*/
}

.progress_bar_main{

  background-color: lightgrey;
  width: 100%;
}

.questionPending{
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}

.lesson_progress_text{
  font-size: 20px;
  margin: auto;
  text-align: center;
}

.progress_bar_secondary{
  background-color:antiquewhite;
}


.lesson_card_visuals{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 5%;
  border-radius: 16px;
  overflow: hidden;
}



.progress_bar_padding{
  margin:5%;
}
.lesson_buttons{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  font-size: 20px;
  border-radius: 4px;
  background-color: antiquewhite;
  padding: 0 5%;
  /*padding-right: 5%;*/
}



.lesson_card_keywords{
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 1.5em;
  font-size: 18px;
  background: white
}

/*NavBar Elements*/
.navCard{
  display: flex;
 /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  flex-direction: column;
  position: relative;
  margin: 2%;
  border-radius: 16px;
  overflow: hidden;
  /*border-radius: 20px;*/
}

.cardmedia{
  /*height: 30vh*/;
}

.questions{
  font-size: 24px;
}
.cardImg{
  object-fit: cover;
  /*width:100%;*/
  /*height: 30vh;*/
}


.nav-icons{
  display: flex;
  padding: 5% 5% 5% 3%;
  align-items: flex-end;
  justify-content: space-evenly;
}

.navBar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*margin: 5%;*/
}
.lesson_buttons_div{
  display: flex;
  margin: 5%;
  justify-content: space-around;
}

.progress_bar_main {
  display: flex;
  justify-content: center;
  align-items: center;
}


.lesson_card_heading_title{
  font-size: 25px;
  line-height: 2em;
}





progress {
  height: 40px;
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
}

progress::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #23C2B5;
  border-radius: 10px;
}

progress::-moz-progress-bar {
  background-color: #23C2B5;
  border-radius: 10px;
}

.question_section_title{
  text-align: center;
}
.navCard{
  background-color: white;

}





.testprogressbar{
  margin: 5%;
}

.progress_text_style{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress_bar_style{
  position: relative;
  margin: 5%;
}
.title_and_logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

#logo{
  width: 10%;
}

.question_buttons{
  display: flex;
  justify-content: space-around;
  margin: 2%;
}
/*Card Component stylings*/
.card_component_container{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 5%;
  border-radius: 16px;
  overflow: hidden;
}

.card_component_content{
  padding: 16px 16px 1px 16px;
  background: white;
 }

.card_component_image{

}

.card_component_cards{

}

.card_component_title{
  font-size: 28px;
}

.card_component_text{
  font-size: 18px;
  line-height: 32px;
}
.text_content{
  line-height: 32px;
  font-size: 18px;
}

.rewards_cards{
  cursor: pointer;
  /*
  transition: background-color 0.3s ease;
  */
}

/*.rewards_cards:hover {
  background-color: #e0e0e0;

}*/



.start-button.purchase-button{
  padding: 16px;
}

.purchase_div{
  display: flex;
}


.purchased_item{
  display: flex;
  justify-content: flex-end;

}

/*@keyframes touch {
  0% { transform: scale(1); }
  25% { transform: scale(0.95); }
  50% { transform: scale(1.05); }
  75% { transform: scale(0.98); }
  100% { transform: scale(1); }
}

.rewards_cards:active {
  animation: touch 0.3s ease;
}*/

@media only screen and (max-width: 767px){




  .importantAudioPlayer{
    padding: 1%;
    width: 50%;

  }

  .navCard.importantAudioPlayer{
    margin: 2% auto;
  }



  .reward_container{
    display: flex;
    flex-wrap: wrap;

  }
  .rewards_cards{
    width: 35%;

  }



  .coins_div{
    display: flex;
    align-items: center;
  }
  .coin_style{
    width: 12%;
  }

  .navCard.rewards_cards{
    margin: 2% auto;

  }
  .navCard.scoreCard{
    width: 90%;

  }

  .coin_style_top_app_bar{
    width: 22px;
  }
  .user_coins{
    font-size: 18px;
  }
  .score_rec_text{
    padding: 3%;
  }

  .appbar-icons{
    width: 100%;
    justify-content: space-evenly;
  }

  .card_lesson_image{
    width: 100%;
  }
/*NavBar Element Stylings*/
  .navBar{
    display: block;
    margin: 0;
  }
  .navCard{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex-direction: column;
    position: relative;
    margin: 5%;


  }
  .mcq-container{
    margin: 3%;

  }

  .cardmedia{
    display: flex;
    justify-content: center;
   /* height: 30vh;*/
  }
  .cardImg{
    object-fit: cover;
    /*width:100%;*/
    /*height: 30vh;*/
  }


  .nav-icons{
    display: flex;
    padding: 5% 5% 5% 3%;
    align-items: flex-end;
  }

  .lesson_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5%;
    flex-wrap: wrap;
    padding: 2%;
  }

  .correct_answer{
    display: flex;
    flex-direction: column;
  }

  .mcq_main_container>.action_buttons{
    margin: 5% auto;
  }

  .card_audio_controls{
    justify-content: space-evenly;

    padding: 5%;
  }
  .navCard.rewards_cards{
    padding: 2%;
  }


}

.lessons_pointer_container{
  display: flex;
  width: 100%;
  align-items: center;
}






@media only screen and (min-width: 767px){


  .navCard.scoreCard{
    width: 35%;
    padding: 1%;
  }

  .navCard.rewards_cards{
    padding: 1%;
  }
  .navCard.importantAudioPlayer{
    width: 25%;
    margin: 2% auto;
    padding: 0.5%;
  }

  .reward_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3%;
    justify-content: space-evenly;
  }

  .coins_div{
    display: flex;
    align-items: center;
  }
  .coins_text{
    font-size: 22px;
  }


  .coin_style{
    width: 30%;
  }


  /*NavBar Element Stylings*/
.overall_lessons_container{
  width: 50%;
  margin: auto;
}

  .appbar-icons{
    width: 70%;
    justify-content: space-evenly;
  }

  .card_box{
    width:50%;
    margin: 1% auto;
  }

  .topAppBar{
    flex-direction: row;
  }
  .lesson_card{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .questionPending{
    width: 50%;
    margin: auto;
  }

  .lesson_card_media{
    display: flex;
    justify-content: center;
    background-color: #e1e5df;
  }

  .center{
    width: 50%;
    margin:auto
  }

  .mcq_buttons{
    flex-shrink: 0;
  }
  /*Card Component stylings*/
  .card_component_container{
    width: 50%;
    margin:1% auto;

  }


  .help_content{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 275px;
  }





}


@media (prefers-color-scheme: dark) {


}



